<html>
    <head>
        <title>Edit menu for {{res.name}}'s {{menu.name}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Edit menu for {{res.name}}'s {{menu.name}}</h1>
        <form action="{{url_for('edit', res_id=res.id, menu_id=menu.id)}}" method="post">
            <input type="text" name="name" placeholder="{{menu.name}}">
            <input type="submit" value="Change">
        </form>
    </body>
</html>