<!DOCTYPE html>
<html>
<head>
    <script src="../static/jquery-3.3.1.min.js"> </script>
</head>
<body>
    <a id="githubLogin" href="https://github.com/login/oauth/authorize?client_id=c8ab37b2d9abdacbfd01&scope=user,public_repo">
        <button>Github Login</button>
    </a>
    <p id="result"></p>
    <script>
        if (location.search) {
            $.ajax({
                type: 'POST',
                url: 'https://github.com/login/oauth/access_token',
                data: {
                    client_id: 'c8ab37b2d9abdacbfd01',
                    client_secret: '856e076d12c3f7693c29210c739396bd428e674f',
                    code: location.search.split('=')[1]
                },
                success: function(result) {
                    if (result) {
                        let access_token = result.split('&')[0].split('=')[1];
                        if(access_token !== 'bad_verification_code') {
                            $('#githubLogin').hide();

                            $.ajax({
                                type: 'POST',
                                url: '/gconnect?state={{STATE}}',
                                processData: false,
                                contentType: 'application/octet-stream; charset=utf-8',
                                data: access_token,
                                success: function(result) {
                                    if (result) {
                                        $('#result').html('Login Successful</br>' + result + '</br>Redirecting...');
                                        setTimeout(function() {
                                            window.location.href="/res"
                                        }, 4000)
                                    }
                                }
                            })
                        } else {
                            $('#result').html('some problem')
                        }
                    }
                }
            })
        }
    </script>
</body>
</html>